@import url("https://fonts.googleapis.com/css2?family=Rubik+Storm&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
  font-family: "Rubik Storm", system-ui;
  text-shadow: 3px 4px 11px rgba(0, 0, 0, 1);
}
html {
  font-size: 62.5%;
}

nav {
  height: 7rem;
  width: 100%;
  background: black;
  color: #fff;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & p {
    font-size: 4rem;
    background: -webkit-linear-gradient(#0360eb, #ff00f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.start-container {
  height: calc(100vh - 7rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right top, #ff00f2, #00ffd5d2, #005fec);
}
.start {
  padding: 2% 3%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 3rem;
  border: none;
  background: linear-gradient(to left, #0360ebcb, #ff00f2bd);
  border-radius: 0.7rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  color: #fff;
  transition: 1s;

  &:hover {
    background: linear-gradient(to right, #0360ebcb, #ff00f2bd);
  }
  &:active {
    background: linear-gradient(to right, #0360ebcb, #ff00f2bd);
  }
}
.main {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  padding: 0% 5%;
  width: 100%;
  background: linear-gradient(to right top, #ff00f2, #00ffd5d2, #005fec);
}

.game-container {
  height: 50%;
  display: flex;
  position: relative;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  & .game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4rem;
    margin-top: 1rem;

    & button {
      width: 10rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      height: 10rem;
      color: #fff;
      font-size: 5rem;
      border: none;
      text-transform: uppercase;
      background: linear-gradient(to right, #0360eb9f, #ff00f27a);
      border-radius: 0.7rem;
      -webkit-border-radius: 0.7rem;
      -moz-border-radius: 0.7rem;
      -ms-border-radius: 0.7rem;
      -o-border-radius: 0.7rem;

      &:active {
        background: -webkit-linear-gradient(#0360eb59, #ff00f263);
      }
    }
  }

  & .btn-container {
    width: 55%;
    display: flex;
    justify-content: center;
    gap: 3rem;

    & .btn {
      padding: 3% 5%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      font-size: 1.8rem;
      border: none;
      background: linear-gradient(to right, #0360ebcb, #ff00f2bd);
      border-radius: 0.7rem;
      font-family: "Courier New", Courier, monospace;
      font-weight: bolder;
      color: #fff;
      &:active {
        background: -webkit-linear-gradient(#0360eb59, #ff00f263);
      }
    }
  }

  & .sound-option-container {
    position: absolute;
    left: 5px;
    cursor: pointer;

    & .mute {
      display: none;
    }
  }
}

.game-dashboard {
  height: 50%;
  display: flex;
  padding: 5% 0;
  flex-direction: column;
  gap: 9rem;
  margin-top: 4%;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-align: center;

  & .win-count-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 5% 8%;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }

  & .turn-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 2% 8%;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }

  & .footer {
    & p {
      text-shadow: 3px 4px 11px rgba(0, 0, 0, 1);
      font-family: "Rubik Storm", system-ui;
      font-weight: 400;
      font-style: normal;
    }

    & img {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.27) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
}

/**  scrollbar  */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#ff00f2, #0360eb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
